<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Profiles</title>
</head>
<body>

<style>
  table {
    padding: 10px;
  }
  th, td, a {
    padding-left: 10px;
  }
</style>

<table>
    <tr>
        <th>ФИО:</th>
        <th>ИНН:</th>
        <th>На счете:</th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.full_name }}</td>
        <td>{{ profile.inn }}</td>
        <td>{{ profile.wallet }}</td>
    </tr>
    {% endfor %}
</table>

<p><a href="/add/"> <button>Добавить пользователя </button></a>

<a href="/transaction/"> <button>Осуществить транзакцию </button></a></p>
</body>
</html>
